@import 'tailwindcss';
@config '../../tailwind.config.js';

@layer base {
    :root {
        --color-accent: var(--color-teal-600);
        --color-accent-content: var(--color-teal-600);
        --color-accent-foreground: var(--color-white);
    }

    .dark {
        --color-accent: var(--color-teal-600);
        --color-accent-content: var(--color-teal-400);
        --color-accent-foreground: var(--color-white);
    }
}
