@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@config '../../tailwind.config.js';

/* Required for dark mode in Flux... */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-accent: var(--color-teal-600);
    --color-accent-content: var(--color-teal-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-teal-600);
        --color-accent-content: var(--color-teal-400);
        --color-accent-foreground: var(--color-white);
    }
}
